@model ContactFormViewModel

@{ 
    ViewBag.Title = "Contact Us";
}


<div class="container">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJyWUKHhuVpkART3UoseWK49Y&key=AIzaSyAqXBtP-E7cHNDuBJGuMtTR-AJ8D1OjvKE" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contact-form">
        <h1 class="title text-center">Contact Us</h1>
        <h2 class="subtitle text-center">We are here assist you.</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter your name...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email...">
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" placeholder="Enter subject...">
                <span asp-validation-for="Subject" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Content" class="small text-danger"></span>
            </div>
            <div class="row justify-content-center">
                <input class="btn btn-primary mt-4" type="submit" value="Send" />
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}
