@{
    ViewBag.Title = "Dream Island - Error";
}

@if (ViewBag.ErrorMessage == "Oops! This page could not be found.")
{
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <img src="/common/404-error-web1.jpg" class="img-fluid" alt="Not-Found">
    </div>
    </div>  
}
else if(ViewBag.ErrorMessage == "Authorization required.")
{
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <img src="/common/Unauthorized.png" class="img-fluid" alt="Unauthorized">
    </div>
    </div>
}
else
{
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <img src="/common/400-Bad-Request-Error.jpg" class="img-fluid" alt="Bad-Request">
    </div>
    </div>
}
</p>
<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to HomePage</a>
    </div>
</div>
